---
---

@import "{{ site.theme }}";

.callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-radius: 3px;
  border-left-width: 5px;
}

.callout-tip {
  background-color: #e6f6e6;
  border-left-color: #4caf50;
}

.callout-success {
  background-color: #f0fff0;
  border-left-color: #32cd32;
}

.callout-question {
  background-color: #e6f3ff;
  border-left-color: #2196f3;
}

.callout strong {
  text-transform: uppercase;
  font-weight: bold;
}
